.category {
  height: 50px;
  width: 95%;
  display: inline-block;
  justify-content: center;
}
.tabList {
  box-sizing: border-box;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  list-style-type: none;
}

.tab {
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 3px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  padding: 5px 10px 5px;
  font-size: 13px;
  cursor: pointer;
}

.tab::selection {
  border: 2px solid #e74c3c;
}

a {
  align-items: center;
  text-decoration-color: none;
  color: black;
}
